<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="SuiteTest">
  <test thread-count="5" parallel="classes" name="Report2">
    <classes>
      <class name="testng.test.Demotestng"/>
      <class name="testng.test.Anotation1"/>
      <class name="testng.test.TestNGInvocationC"/>
      <class name="testng.test.GroupDependsTest"/>
      <class name="testng.test.Anotation2"/>
    </classes>
  </test> <!-- Report2 -->
</suite> <!-- SuiteTest -->
